# History Files
.Rhistory
.Rapp.history

# Session Data Files
.RData

# Testing Functions Files
data.proc.rds
data_processed.csv
annotation.rds
data_normalized.csv
libsize_0_dpi72.png
orig.data.anot
qc_boxplot_0_dpi72.png
qc_density_0_dpi72.png
qc_norm_boxplot_0_dpi72.png
qc_norm_density_0_dpi72.png
qc_norm_meanstd_0_dpi72.png
qc_norm_pca_0_dpi72.png
qc_pca_0_dpi72.png
rna_b_omicsanalyst.json


# User-specific files
.Ruserdata

# RStudio Files
.Rproj.user/

# Produced Vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Data
data/test/

# Work In Progress
rmd/code-optimization.Rmd